@page "/"

@rendermode InteractiveServer
@inject DialogService DialogService

<PageTitle>Radzen Dialog Test</PageTitle>

<h1>Hello, world!</h1>

<div class="rz-p-12 rz-text-align-center">
    <RadzenButton Text="Alert dialog" ButtonStyle="ButtonStyle.Secondary"
                  Click=@(args => DialogService.Alert("Some message!", "MyTitle", new AlertOptions() { OkButtonText = "Yes" })) />
<p></p>
    <RadzenButton Text="Alert dialog with MyMethod" ButtonStyle="ButtonStyle.Secondary"
                  Click=MyMethod />
<p></p>
    <RadzenButton Text="Alert dialog with markup" ButtonStyle="ButtonStyle.Secondary"
                  Click=@(args => DialogService.Alert(GetMessage(), "MyTitle", new AlertOptions() { OkButtonText = "Yes" })) />
</div>
@code {
    RenderFragment GetMessage()
    {
        return __builder =>
        {
            <text>
                Some <b>message</b>!
            </text>
        };
    }

    private void MyMethod()
    {
        var res = DialogService.Alert("Some message!", "MyTitle", new AlertOptions() { OkButtonText = "Yes" });
    }
}